{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Nawa Wisher - A Birthday Wisher Website

{% endblock %}

{% block additional_head %}
<meta name="description" content="Wish birthday to your loved ones"/>
<meta property="og:title" content="Nawa Birthday Wisher" />
<meta property="og:description" content="Wish birthday to your loved ones" />
<meta property="og:image" content="{% static 'cover_image/birthday-wisher-cover-image.png' %}" />
<link href="{% static 'friend/home-page.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div class="relative z-10">
{% for person in birthdays %}
{% include 'friend/snippets/person-card.html' with person=person %}
{% endfor %}
</div>
<ul class="background-animate-css relative z-0">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
</ul>

<!-- Pin to top right corner -->
	  <div class="absolute top-0 right-0 h-12 w-18 p-4 z-20">
		<a href="https://github.com/rijalanupraj" target="_blank" class="focus:outline-none text-white"><i class="fab fa-github fa-3x"></i></a>
	  </div>
    <div class="w-full text-center text-sm bg-indigo-800 text-white sm:mb-10 mb-16 relative z-50">Made with <i class="fas fa-heart text-red-700"></i> By <a href="https://twitter.com/rijalanupraj" target="_blank" class="hover:text-yellow-400 underline  text-white">Anup Raj Rijal</a></div>
    <footer class='w-full bg-indigo-800 text-center text-white p-2 fixed bottom-0 z-50'>
            Thank <i class="fas fa-praying-hands text-yellow-300"></i> You For Visiting. Support me by providing your info <a href="https://forms.gle/Gg6syPEwjyxmj4WY9" target="_blank" class="hover:text-yellow-400"><u>here</u></a> <i class="fas fa-hand-holding-heart text-yellow-300"></i>
      </footer>
{% endblock %}
 
{% block additional_body %}

{% endblock %}
