<div class="flex h-screen mx-3">
    <div class="m-auto">
        <h2 class="text-base text-white font-semibold tracking-wide uppercase">Nawa Wisher</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            No Birthdays To Show Today
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-400 lg:mx-auto">
            We are glad <i class="far text-yellow-600 fa-smile-beam"></i> you are here. We are planning to make this
            website accessible to all the people. We will start the work during the winter.
        </p>
        <p class="mt-5 text-white fmx-auto flex flex-wrap items-center justify-between">
            <a class="link" href="https://fb.me/rijalanupraj" data-tippy-content="@facebook_handle"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
            <a class="link" href="https://twitter.com/rijalanupraj" data-tippy-content="@twitter_handle"><i
                    class="fab fa-twitter fa-2x"></i></a>
            <a class="link" href="https://github.com/rijalanupraj" data-tippy-content="@github_handle"><i
                    class="fab fa-github fa-2x"></i></a>
            <a class="link" href="https://www.instagram.com/rijalanupraj" data-tippy-content="@instagram_handle"><i
                    class="fab fa-instagram fa-2x"></i></a>
            <a class="link" href="https://www.youtube.com/channel/UCgbrA4Ln-H3pH9zvIvgQtjQ"
                data-tippy-content="@youtube_handle"><i class="fab fa-youtube fa-2x"></i></a>
            <a class="link" href="https://www.linkedin.com/in/rijalanupraj/"
                data-tippy-content="@linkedin_handle"><i class="fab fa-linkedin fa-2x"></i></a>
            
        </p>
    </div>
</div>